@charset "UTF-8";

* {
    margin: 0;
}

@media screen and (max-width: 768px) {
    html {
        overflow-x: hidden;
        
    }

    body {
        width: 100%;
        min-height: 100vh;
        margin: 0;
        background-color: white;
    }

    main {
        width: 100%;;
        display: block;
        margin: 0;
    }

    section {
        width: 100%;
        display: block;
    }

    #results {
        position: static;
        border-radius: 0px 0px 20px 20px;
        width: 100%;
        margin: 0;
    }

    #summary {
        margin: 20px;
        margin: auto;
        padding: 0;
        width: 100%;
        box-shadow: none;
    }

    h2 {
        padding-top: 20px;
    }

    #divredonda {
        margin: auto;
    }

    input {
        margin-top: 35px;
    }
    
}